@import "card.css";
@import "navbar.css";
@import "typography.css";

.container{
    display: grid;
    grid-template-columns: 95vw;
    grid-template-rows: 3em 3fr 1fr 2em;
    grid-template-areas: 
    "hd"
    "main"
    "sd"
    "ft";
    gap: 3px;
}

.box {
    border: 2px solid red;
}
.header{
    grid-area: hd;
}
.side{
    grid-area: sd;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: ft;
}

.nestedGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

@media (min-width:550px) and (max-width:849px){
    .container{
        display: grid;
        grid-template-columns: 25vw 65vw;
        grid-template-rows: 3em 1fr 2em;
        grid-template-areas: 
        "hd hd"
        "sd main"
        "ft ft";
        gap: 3px;
    }
    .nestedGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 5px;
    }
}

@media (min-width:850px) {
    .container{
        display: grid;
        grid-template-columns: 25vw 65vw;
        grid-template-rows: 3em 1fr 2em;
        grid-template-areas: 
        "hd hd"
        "sd main"
        "ft ft";
        gap: 3px;
    }
    .nestedGrid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
    }
}
