.container{
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 3em 1fr 2em;
    grid-template-areas: 
    "hd hd"
    "sd main"
    "ft ft";
}

.box {
    border: 2px solid red;
}
.header{
    grid-area: hd;
}
.side{
    grid-area: sd;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: ft;
}